.Request_Student_Container {
}
.ListConfirmed {
  padding: 10px;
  font-size: 1.6rem;
}
.ListHeader {
  display: flex;
  color: var(--Main-color);
  font-weight: bold;
}
.ListHeader_content {
  margin-left: 10px;
}
.Filter {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
}
.Filter_Item {
  width: calc(100% / 5 - 20px);
  margin: 0px 5px;
}
.DataList {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  position: relative;
}
.GroupOption {
  display: flex;
  justify-content: end;
  align-items: center;
}
.CheckboxGroup {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.ArrowShow {
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
  position: relative;
}
.ArrowShow span {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: move 2s infinite;
  cursor: pointer;
}

@keyframes move {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
