.MainNoti{
    border: 1px solid rgb(184, 185, 189);
    border-radius: 5px;
    margin: 0px 30px 20px 70px;
    width: 85%;
}
.iconX{
    float: right;
    color: red;
    font-size: large;
}
.iconX:hover{
    cursor: pointer;
}

.iconFile{
    float: right;
    margin-left: 10%;
    color: blue;
    font-size: large;
}
.iconFile:hover{
    color: red;
    cursor: pointer;
}
.iconUpFile{
    background-color: white;
    color: blue;
    float: left;
    font-size: 13px;
    padding: 5px 15px;
    border: 1px solid blue;
    border-radius: 5px;
    margin-top: 20px;
    float: right;
}
.iconUpFile:hover{
    cursor: pointer;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: blue;
    color: white;
}
.iconStoreFile{
    background-color: white;
    color: blue;
    float: left;
    font-size: 13px;
    padding: 5px 15px;
    border: 1px solid blue;
    border-radius: 5px;
}
.iconStoreFile:hover{
    cursor: pointer;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: blue;
    color: white;
}
.Content_input_file{
    margin-top: 20px;
    margin-left: 10px;
}
.StoreFile{
    width: 100%;
    float: left;
    border: 1px solid red;
}
.Hearder_text{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.Content{
    margin-top: 15px;
    margin-left: 30px;
    border: 1px solid rgb(158, 172, 250);
    border-radius: 8px;
    width: 93%;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
}

.MainContent_lable{
    font-size: 16px;
    margin-left: 30px;
    color: rgb(34, 5, 194);
    border-bottom: 1px solid rgb(88, 34, 236);
}
.ListNoti{
    margin-top: 20px;
}

.button{
    display: block;
    text-align: center;
    /* margin-bottom: 10px; */
}
.PaginationNoti{
    padding-top: 30px;
}

/*  Main content noti*/
.Main_ShowNoti{
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 14px;
}

.header{
    color: blue;
}
.IconNoti{
    float: left;
    padding-right: 5px;
    font-size: large;
}

/* Gui thong bao */
.ContentNoti_main{
    border: 1px solid rgb(158, 172, 250);
    border-radius: 15px;
    margin: 30px 30px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
}
.SentNoti{
    display: flex;
}
.ContentNoti_search{
    border: 1px solid rgb(158, 172, 250);
    border-radius: 15px;
    margin: 20px 0px 20px 20px ;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
    width: 85%;
    float: left;
}

.SentNoti_main{
    border: 1px solid rgb(158, 172, 250);
    border-radius: 15px;
    margin: 30px 30px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
}
.icon{
    color: red;
    font-size: smaller;
    float: left;
    padding-right: 5px;
}
.ContentNoti_main_lable{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.ContentNoti_main_h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.ContentNoti_main_lable label{
    font-size: 14px;
    color: blue;
}
.ContentNoti_main_search{
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.button{
    margin-top: 3%;
}
.btn{
    padding: 20px;
}
.checkNoti{
    margin: 0 0 30px 30px;
}
.checkNoti label{
    font-size: 14px;
    margin-right: 15px;
}
.FileNoti{
    margin-left: 20px;
    margin-top: 10px;
}
.btnfile{
    padding: 3px;
    text-align: center;
    color: blue;
}
.btnfile:hover{
    cursor: pointer;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid blue;
}
