.Main_container {
  display: flex;
}
.Main_SideBar {
  min-height: 100%;
  width: 200px;
  border: 1px solid #ccc;
  overflow: hidden;
  transition: all 0.4s;
}
.Main_SideBar_LogoBar {
  padding-top: 20px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.LogoBar_Logo {
  width: 50px;
  height: auto;
}
.LogoBar_NameApp {
  color: var(--Main-color);
  font-size: 3rem;
  font-family: "Manrope";
  padding-left: 10px;
}
.Icon {
  width: 100%;
  font-size: 3rem;
  color: var(--Main-color);
}
.LogoBar_Icon {
  width: 50px;
  cursor: pointer;
}
.Main_SideBar_NameSchool {
  width: 100%;
  padding: 10px;
}
.Main_SideBar_Options {
  display: flex;
  flex-direction: column;
}
.SideBar_Item_content {
  padding: 10px 5px;
  font-size: 1.6rem;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.SideBar_Item_content:hover {
  background-color: var(--Main-color);
  border-radius: 5px;
  padding-left: 10px;
  transition: all 0.4s ease-in-out;
  color: #fff;
}
.ActiveItem {
  background-color: transparent !important;
}
.Item_content {
  padding-left: 10px;
}
.SideBar_MenuChild {
  padding-left: 10px;
  color: #000;
  display: none;
  margin-top: 20px;
  margin-bottom: 10px;
}
.SideBar_MenuChild_item {
  margin-top: 5px;
  font-size: 1.4rem;
  color: #000;
}
/* .SideBar_MenuChild_item:hover {
  color: var(--Main-color);
} */
/* Active */
.ActiveItem {
  color: var(--Main-color) !important;
  position: relative;
  margin: 10px 0px;
}
.ActiveItem + .SideBar_MenuChild {
  display: block;
}
.HiddenSideBar .SideBar_MenuChild {
  display: none !important;
}
.HiddenSideBar .Main_SideBar_LogoBar {
  padding: 20px 0px;
}
.ActiveItem::after {
  position: absolute;
  content: "";
  display: block;
  height: 150%;
  border: 1px solid var(--Main-color);
  top: -25%;
  left: -5%;
  width: 200px;
  background-color: #fff;
  z-index: -1;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #ccc;
}
.HiddenSideBar .Item_content,
.HiddenSideBar .LogoBar_Logo,
.HiddenSideBar .Main_SideBar_NameSchool,
.HiddenSideBar .LogoBar_NameApp {
  display: none;
}

.HiddenSideBar {
  width: auto;
}

.HiddenSideBar .SideBar_Item_content {
  justify-content: center;
}

.ActiveSubMenuItem {
  background-color: var(--Main-color) !important;
  border-radius: 5px;
}
.ActiveSubMenuItem .SideBar_Item_content {
  color: #fff !important;
}
/* Content */
.Main_Content {
  flex: 1;
  transition: all 0.4s;
}
.Main_Content_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.Main_Content_Header {
  width: 100%;
  background-color: var(--Main-color);
  height: 150px;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  color: #fff;
  align-content: center;
  padding: 20px 0px;
}
.Main_Content_Header_Title {
  width: 70%;
  color: #fff;
  padding-left: 10px;
}
.Header_title {
  color: inherit;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.Header_subtitle {
  font-size: 1.4rem;
  padding-top: 10px;
}
.Header_user_container {
  display: flex;
  justify-content: end;
  text-decoration: underline;
  height: 100%;
}
.Main_Content_Header_user {
  width: 30%;
  padding: 0px 40px;
  font-size: 1.4rem;
}
.AvatarUser {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-left: 10px;
  border: 1px solid #ccc;
}
.Main_Content_context {
  width: 98%;
  background-color: #fff;
  margin-top: -60px;
  min-height: calc(100vh - 150px + 60px);
  border-radius: 20px 20px 0px 0px;
  border: 1px solid #ccc;
  overflow-y: scroll;
}

/* ẩn thanh scroll */
.Main_Content_context::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.Header_logout {
  text-align: right;
  cursor: pointer;
}
.Header_logout:hover {
  color: aqua;
}
/* Tablet */
@media (max-width: 63.9375em) {
  .Header_title {
    font-size: 1.4rem;
  }
  .Header_subtitle {
    font-size: 1.2rem;
  }
  .Main_Content_context {
    margin-top: -40px;
  }
  .Main_Content_context {
    min-height: calc(100vh - 150px + 40px);
  }
  .Main_Content_Header {
    flex-direction: column;
    justify-content: flex-start;
  }
  .Header_user_container {
    margin-top: 10px;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .Main_Content_Header_Title {
    width: 100%;
    text-align: center;
  }
  .Main_Content_Header_user {
    width: 100%;
    padding: 0;
  }
  .Header_logout {
    text-align: left;
  }
  .AvatarUser {
    margin-right: 10px;
  }
}
/* Mobile */
@media (max-width: 46.1875em) {
}
