.Form_main {
}
.Form_Container {
  display: flex;
  flex-wrap: wrap;
}
.FormItem {
  width: 25%;
}
/* button */
.Button_register {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
}
