.Search_input {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.Search_input input {
  padding: 7px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  outline: #ccc;
}

.icon_search {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: large;
  margin-left: 15px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: #ccc;
}
.icon_search:hover {
  cursor: pointer;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
