.Confirm_header {
  left: 19%;
  width: 96%;
  margin-left: 2%;
}
.Hearder_tittle {
  text-align: center;
  padding-bottom: 50px;
}
.load {
  position: relative;
}
.Form_main {
  margin: 10px 45px 0px 45px;
}

.Search_button {
  display: flex;
}
.Search_button2 {
  display: flex;
  margin-top: 20px;
}
.Search_Item {
  width: calc(100% / 4);
}
.Search_ItemInput{
  width: calc(100% / 5);
}
.Result_search {
  outline: #ccc;
  padding: 10px 45px;
  margin: 10px 20px;
  text-align: center;
  margin-bottom: 20px;
  width: 90%;
  font-size: 12px;
}

.btn {
  margin-bottom: 10px;
  display: flex;
  justify-content: end;
  padding: 10px 30px;
}
