/* You can remove these code below*/
:root {
  --blue: #8be9fd;
}
/* Main code */
.LoadingChild_Container {
}
.dashed_loading {
  position: relative;
  height: 20px;
}
.dashed_loading:after,
.dashed_loading:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.dashed_loading:before {
  z-index: 5;
  border: 3px dashed var(--blue);
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-animation: dashed 1s linear infinite;
  animation: dashed 1s linear infinite;
}
.dashed_loading:after {
  z-index: 10;
  border: 3px solid var(--blue);
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-animation: dashed 1s ease infinite;
  animation: dashed 1s ease infinite;
}
@keyframes dashed {
  to {
    transform: rotate(360deg);
  }
}
