.Confirm_header{
    left: 19%;
    width: 96%;
    margin-left: 2%;
}
.Hearder_tittle{
    text-align: center;
    padding-bottom: 50px;
}

.Form_main{
    margin: 10px 45px 0px 45px;
}
.load{
    position: relative;
}
.Search_button{
    display: flex;
    margin-left: 5%;
}
.Result_search{
    display: inline-block;
    resize: vertical;
    outline: #ccc;
    padding: 10px 45px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    margin-bottom: 20px;
    width: 90%;
    font-size: 12px;
}

.btn{
    /* text-align: center; */
    margin-bottom: 10px;
    display: flex;
    justify-content: end;
    padding: 10px 30px ;
}