.FormStudent_Container {
  /* justify-content: space-between; */
}
.InputGroup {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.Infor_Group {
  width: calc(30%);
  margin: 10px 0px;
  margin-right: 20px;
}
