.InputYear_Container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(204, 204, 204, 0.3);
  z-index: 100;
}
.Container {
  width: 30%;
  height: 30%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #ccc;
  font-size: 1.6rem;
  position: relative;
}
.BtnExit {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: var(--Main-color);
  font-size: 2rem;
}
.InputYear_Title {
  font-weight: bold;
  text-align: center;
  color: var(--Main-color);
  padding: 10px 5px;
}
.Input {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}
.Input input {
  margin: 10px;
  padding: 10px 5px;
  outline: none;
  border: 1px solid #ccc;
}
