.Forgot_Container {
  display: flex;
  align-items: center;
  background-color: rgb(204, 204, 204, 0.4);
  width: 100vw;
  height: 100vh;
  justify-content: center;
}
.Forgot_Main {
  width: 40vw;
  min-height: 40vh;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #ccc;
  background-color: #fff;
  padding: 10px;
  position: relative;
}
.Forgot_Main::after,
.Forgot_Main::before {
  position: absolute;
  content: "";
  display: block;
  width: 40%;
  height: 50%;
  background-color: var(--Main-color);
  border-radius: 10px;
  z-index: -1;
}
.Forgot_Main::after {
  top: 0;
  left: 0;
  transform: translateX(-40%) translateY(-40%);
  background-color: #9cb1fc;
}
.Forgot_Main::before {
  bottom: 0;
  right: 0;
  transform: translateX(40%) translateY(40%);
  background-color: #bbc8f3;
}
.Main_Title {
  font-size: 2rem;
  color: var(--Main-color);
  font-weight: bold;
  margin: 10px 0px;
}
.Main_Content {
  font-size: 1.6rem;
}
.Form {
}
.Form_Input {
  font-size: 1.5rem;
  margin: 10px 0px;
}
.Message {
  font-size: 1.6rem;
  padding: 10px 5px;
  color: rgb(33, 214, 33);
}
.Err {
  color: red !important;
}
.Option {
  padding: 0px 5px;
  display: flex;
}
.Redirect_Login {
  padding: 5px 0px;
  font-size: 1.6rem;
  text-decoration: underline;
  color: var(--Main-color);
  cursor: pointer;
  margin-right: 10px;
}
.Back {
  font-size: 1.5rem;
  color: var(--Main-color);
  text-decoration: underline;
  cursor: pointer;
  padding: 5px 0px;
}
.Form_Item {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}
.Form_Item label {
  width: 30%;
}
.ShowPass {
  padding: 5px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: var(--Main-color);
}
.ShowPass label {
  margin-left: 5px;
}
/* Tablet */
@media (max-width: 63.9375em) {
  .Forgot_Main {
    width: 70vw;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #ccc;
    background-color: #fff;
    padding: 10px;
  }
  .Form_Item label {
    width: 40%;
  }
}
/* Mobile */
@media (max-width: 46.1875em) {
}
