.Forgot_Container {
  display: flex;
  align-items: center;
  background-color: rgb(204, 204, 204, 0.4);
  width: 100vw;
  height: 100vh;
  justify-content: center;
}
.Forgot_Main {
  width: 40vw;
  height: 40vh;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #ccc;
  background-color: #fff;
  padding: 10px;
}
.Main_Title {
  font-size: 2rem;
  color: var(--Main-color);
  font-weight: bold;
  margin: 10px 0px;
}
.Main_Content {
  font-size: 1.6rem;
}
.Form {
}
.Form_Input {
  font-size: 1.5rem;
  margin: 10px 0px;
}
.Message {
  font-size: 1.6rem;
  padding: 10px 5px;
  color: rgb(33, 214, 33);
}
.Err {
  color: red !important;
}
.Redirect_Login {
  padding: 5px;
  font-size: 1.6rem;
  text-decoration: underline;
  color: var(--Main-color);
  cursor: pointer;
}
