.bodyNoti{
    display: block;
}
.Noti{
    color: rgb(92, 92, 250);
    display: flex;
    font-size: 14px;
    margin: 0px 30px 10px 40px;
}
.LeftNoti{
    width: 90%;
    float: left;
    display: flex;
}

.icon{
    padding-right: 10px;
}
.Noti_label{
    width: 90%;
    font-size: 14.5px;
}

.Noti_label label:hover{
    cursor: pointer;
    border-bottom: 1px solid blue;
}

/*  */
.Noti_input{
    padding-left: 40px;
    float: right;
    font-size: 20px;
}

.Noti_input :hover{
    cursor: pointer;
    border-radius: 50%;
    color: red;
    box-shadow: 0 4px 5px 0 rgba(231, 36, 62, 0.2), 0 6px 20px 0 rgba(231, 27, 78, 0.19);
}
.Active_Form {
    height: auto !important;
    font-size: 1.4rem;
}
.FormData {
    height: 0;
    overflow: hidden;
}
.Table_Row td:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
  }