.Export_Update_Container {
  padding: 0px 20px;
  width: 100%;
  font-size: 1.6rem;
}

.Update_Filter {
  margin-bottom: 20px;
  display: flex;
}
.Update_Filter_Item {
  width: calc(100% / 4);
  padding: 0px 10px;
}
.Chart {
  width: 100%;
  padding: 20px;
  height: 400px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.Chart_Details .Sum_People {
  padding: 5px 5px;
}
.TableDetails {
}
.TableDetails thead {
  background-color: rgb(71, 71, 236);
  color: #fff;
}
.TableDetails th {
  padding: 10px 5px;
  border-radius: 3px;
}
.TableDetails td {
  border-bottom: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}
.TableDetails td:nth-child(3) {
  text-align: left;
}
