.ComboBox_Container {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  outline: #ccc;
}
.LabelFilter {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 5px;
  padding-left: 5px;
}
