.Table_wrapper {
  width: 100%;
  padding: 2px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 400px;
  overflow-y: scroll;
}
.TableTemplate {
  width: 100%;
}
thead .Table_Header {
  position: sticky;
  top: 5px;
}
.Table_Header::after {
  position: absolute;
  top: -10px;
  left: 0;
  content: "";
  background-color: #fff;
  width: 100px;
  height: 10px;
  width: 100%;
  z-index: -1;
}
.Table_Header {
  position: relative;
  text-align: center;
  padding: 10px 20px;
  font-size: 1.6rem;
  background-color: #ccc;
  border-bottom: 1px solid #ccc;
}
.Table_Column {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  font-size: 1.5rem;
  word-break: break-all;
}
.STT {
  width: 100px;
}
.Table_Row td:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}
.IconDropDown {
  padding-right: 5px;
  cursor: pointer;
}
.IconDropDown:hover {
  color: var(--Main-color);
}

/* Table Content */
.Active_Form {
  height: auto !important;
  font-size: 1.4rem;
}
.FormData {
  height: 0;
  overflow: hidden;
}
.InfoDetail_title {
  color: var(--Main-color);
  font-size: 1.6rem;
  padding: 10px 5px;
  font-weight: 600;
}
