/* Error */
.Err_container {
    padding: 20px 45px;
}
.TableErr {
    border-spacing: 0px;
    max-width: 100%;
    font-size: 1.5rem;
    width: 98%;
    margin: 10px;

}
.TableErr td {
    padding: 5px 10px;
}
.ErrTitle {
    padding: 0px 10px;
    color: red;
}
