* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

:root {
  --Main-color: #4f7df5;
}
.btn {
  background-color: var(--Main-color);
  outline: none;
  border: none;
  padding: 10px 20px;
  font-size: 1.6rem;
  color: #fff;
}
ul {
  text-decoration: none;
  list-style: none;
}
