.Add_Container {
  padding: 10px;
  position: relative;
}
.AddStudent_container {
  position: relative;
}
.AddStudent_Tab {
  display: flex;
  width: calc(100% - 20px);
  font-size: 1.6rem;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
}
.Tab_item {
  cursor: pointer;
  padding: 10px;
}
.Tab_item:hover {
  color: var(--Main-color);
  border-bottom: 1px solid var(--Main-color);
}

.Tab_Content {
  margin: 10px;
  padding: 10px;
}
.Active_Tab {
  color: var(--Main-color);
  border-bottom: 1px solid var(--Main-color);
}

.ImportFileTitle {
  font-size: 1.6rem;
  padding: 10px 5px;
}
.FormImport {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}

.Err_container {
  padding: 10px;
}
.TableErr {
  border-spacing: 0px;
  width: 500px;
  max-width: 100%;
  font-size: 1.5rem;
  margin: 10px;
}
.TableErr td {
  padding: 5px 10px;
}
.ErrTitle {
  padding: 0px 10px;
  color: red;
}
.FileTemplate {
  font-size: 1.6rem;
  padding: 10px;
  display: flex;
  align-items: center;
}
.Title_Import {
  font-size: 1.6rem;
  padding: 10px;
  font-weight: bold;
}
.Import_Content_Class_Major {
  padding: 10px;
}
/* Commander */
.Filter_Commander {
  padding: 10px;
}
.CommantFilter_Item {
  width: 25%;
}
.table_Commander {
  padding: 10px;
  width: 90%;
  position: relative;
}
.table_Header {
  font-size: 1.6rem;
  margin: 10px 0px;
}
.Table_Content {
  width: 100%;
  font-size: 1.6rem;
}
.tr {
  display: flex;
}
.th {
  background-color: #ccc;
  padding: 10px 20px;
  width: calc(100% / 5);
  font-weight: bold;
  margin: 0px 1px;
}
.td {
  margin: 0px 1px;
  padding: 10px;
  width: calc(100% / 5);
}
.Item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.BtnOptions {
  cursor: pointer;
  position: relative;
  transition: 0.5s all;
  margin-right: 10px;
  font-size: 2rem;
}
.Item_Option {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.BtnOptions:hover {
  opacity: 0.5;
}
.Input {
  padding: 10px 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
.AddButton {
  cursor: pointer;
  padding: 10px 5px;
}
.AddButton:hover {
  background-color: rgb(204, 204, 204, 0.5);
}
.BtnLineConfirm,
.BtnLineCancel {
  padding: 5px;
  background-color: #ccc;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  color: #fff;
  padding: 5px;
}
.BtnLineConfirm {
  background-color: blue;
  border: none;
  outline: none;
  padding: 6px 5px;
}
.BtnLineCancel {
  background-color: red;
}
.BtnUpdate {
  border: none;
  outline: none;
  background-color: #fff;
}
