
.button_main{
    width: 90px;
    height: 30px;
    margin: 0px 20px 10px 20px;
    background-color: white;
    border: 1px solid blue;
    border-radius: 5px;
    box-shadow: 4px 4px 5px 0 rgba(55, 9, 182, 0.2);
    color: blue;
    cursor: pointer;
}
.button_main:hover{
    opacity: 0.9;
    background-color: blue;
    color: white;
}
